<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa - Inicio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <style>
        /* CSS */
        .button-49,
        .button-49:after {
        width: 150px;
        height: 76px;
        line-height: 78px;
        font-size: 20px;
        font-family: 'Bebas Neue', sans-serif;
        background: linear-gradient(45deg, transparent 5%, #491D57 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        box-shadow: 6px 0px 0px #00E6F6;
        outline: transparent;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        }

        .button-49:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        
        content: 'MARCELO';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #491D57 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
        clip-path: var(--slice-0);
        }

        .button-49:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
        }

        @keyframes glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-20px, -10px);
        }
        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }
        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }
        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }
        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }
        50% {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }
        60% {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }
        70% {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }
        80% {
            clip-path: var(--slice-5);
            transform: translate(20px, -10px);
        }
        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }
        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
        }

        @media (min-width: 768px) {
        .button-49,
        .button-49:after {
            width: 200px;
            height: 86px;
            line-height: 88px;
        }
        }

        .header-bar {
            background-color: #491D57;
            color: white;
            padding: 10px 13px; /* Ajusta el padding según necesites */
            width: 100%;
            display: flex;
            align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
            justify-content: flex-start; /* Alinea los elementos desde el inicio del contenedor */
        }

        body, html {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #000000;
            text-align: center;
        }

        .button-container {
            display: flex;
            margin-top: 180px;
            justify-content: center; /* Centra horizontalmente */
            gap: 40px;
            align-content: center; /* Centra verticalmente */
            height: 100vh;
        }
        
        .home-icon, .placeholder {
            flex: 1; /* Asegura que el ícono y el placeholder tengan la misma flexibilidad */
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: 'Arial', sans-serif; /* Establece la fuente del texto */
            font-size: 14px; /* Establece el tamaño del texto */
            gap: 8px;
        }

        .title-container {
            flex: 5; /* Mayor flexibilidad para centrar el título */
            text-align: center; /* Centra el texto dentro del contenedor */
        }

    </style>
</head>
<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">home</span>
            Volver
        </a>
        <div class="title-container">
            <b>Tablas</b>
        </div>
        <div class="placeholder"></div> <!-- Un elemento de relleno para ayudar en la centración -->
    </div>

    <div class="button-container">
        <a href="/admin/integrantes/listar" class="button-49" style="text-decoration: none; display: inline-block;">
            Integrantes
        </a>
        <a href="/admin/colores/listar" class="button-49" style="text-decoration: none; display: inline-block;">
            Colores
        </a>
        <a href="/admin/media/listar" class="button-49" style="text-decoration: none; display: inline-block;">
            Media
        </a>
        <a href="/admin/tiposmedia/listar" class="button-49" style="text-decoration: none; display: inline-block;">
            TiposMedia
        </a>
    </div>

    {{> footer }}
</body>
</html>