<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa - Inicio</title>
</head>
<body>
    <h1>Tablas</h1>
    <ul>
        <li>integrantes</li>
        <li>media</li>
        <li>tipomedia</li>
        <li>colores</li>
    </ul>

    <a href="/">Volver</a>
</body>
</html>