<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información del curso</title>
    <link rel="stylesheet" href="style_curso.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

        body, html {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #000000;
            text-align: center;
        }

        .header-bar {
            background-color: #491D57;
            color: #ffffff;
            padding: 15px 0;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        .course-info {
            background-color: #f3f3f3;
            margin: 60px 1rem 1rem;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            text-align: left;
            animation: slideIn 1s ease-out;
        }
        
        @keyframes slideIn {
            0% {
                transform: translateY(20px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

    </style>
</head>
<body>
    <div class="header-bar"><b>Información del curso</b></div>

    {{> nav }}
    <main>
        <section class="course-info">
            <h2>Universidad Católica "Nuestra Señora de la Asunción"</h2>
            <p><strong>Profesor:</strong> Omar Esgaib</p>
            <article>
                <h3>Objetivos del Curso</h3>
                <p>Aprender los conceptos teóricos de la programación Web y aplicar los mismos en el desarrollo de páginas Web estáticas y dinámicas, así como la utilización de servicios disponibles en la Nube en las distintas etapas del ciclo de vida del software, respetando los conceptos dictados en la Ingeniería de Software.</p>
            </article>
        </section>
    </main>

    {{> footer }}
</body>
</html>
