<footer class="footer">
  <div class="content">
    <b>Curso: {{info.materia}}<br></b>
    <b>Estudiante: {{info.nombre}}<br></b>
    <a href="{{info.repo}}" target="_blank">Repositorio del Proyecto</a>
  </div>
</footer>

<style>
    .footer {
            background-color: #491D57;
            color: rgb(255, 255, 255);
            padding: 22px 0;
            position:relative;
            bottom: 0;
            width: 100%;
            text-align: center;
    }
    .footer a {
        color: white; 
    }
    .footer b {
        color: inherit; 
    }

</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var footerFijo = {{{footerfijo}}};
    if (footerFijo) {
      var footerElement = document.querySelector('.footer');
      footerElement.style.position = 'fixed';
    }
    else {
      var footerElement = document.querySelector('.footer');
      footerElement.style.position = 'relative';
    }
  });
</script>
