<nav>
    <div class="main-content"></div>
        <ul>
            <li><a href="../../index.html">Inicio</a></li>
            {{#each integrantes}}
            <li><a href="/paginas/{{matricula}}/index.html">{{nombre}} {{apellido}} - {{matricula}}</a></li>
            {{/each}}
            <li><a href="/paginas/info_curso.html">Información del Curso</a></li>
            <li><a href="/paginas/wordcloud.html">Word Cloud</a></li>    
        </ul>
</nav>
