<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio del Proyecto</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
        
        body, html {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #ffffff;
            text-align: center;
            padding-bottom: 100px;
        }

        .header-bar {
            background-color: #491D57;
            color: rgb(255, 255, 255);
            padding: 15px 0;
            width: 100%;
        }

        img {
            max-width: 500px;
            margin: 100px 0;
            transition: transform 0.3s ease;
        }

        img:hover {
            transform: scale(1.1);
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            background-color: #491D57;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #1e90ff;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 36px;
            margin-left: 50px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #491D57;
            color: white;
            border: none;
        }

        .openbtn:hover {
            background-color: #6f2c82;
        }

        .info-links {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            border: 1px solid #ccc;
            gap: 20px; 
        }

        .info-links a:hover {
            background-color: #efeff4fe;
            color: rgb(0, 0, 0);
        }

        .divider {
            background-color: #ccc;
            height: 20px;
            width: 2px; 
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .button-container {
            display: flex;
            justify-content: center; /* Centra horizontalmente el contenido */
            gap: 10px; /* Espacio entre los botones */
            margin-top: 20px; /* Espacio superior para separar del resto del contenido */
        }
    </style>
</head>
<body>
    <div class="header-bar">
        <button class="openbtn" onclick="openNav()">☰</button>
        <b>Página Principal</b>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/login">Iniciar Sesión</a>
        <a href="/register">Registrarse</a>
    </div>

    <div>
        {{> nav }}
        <img src="../../images/logo.png" alt="Logo del Grupo"> 
    </div>
    {{> footer }}

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "150px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
    </script>

    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.success}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Éxito',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}
</body>
</html>
