<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - No Encontrado</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
        .error-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .error-message {
            max-width: 600px;
            margin-left: 50px;
        }
        .error-message h1 {
            font-size: 4rem;
            color: #2c3e50;
            margin: 0;
        }
        .error-message p {
            color: #95a5a6;
            font-size: 1.5rem;
        }
        img {
            max-width: 300px;
            width: 100%;
            height: auto;
        }
        @font-face {
            font-family: 'MyFont';
            src: url('tu-fuente.woff') format('woff'),
                 url('tu-fuente.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <img src="../../images/furia_404.jpg" alt="Personaje Triste" />
        <div class="error-message">
            <h1>Awww...Don't Cry.</h1>
            <p>Error 404!<br>Pagina no encontrada.</p>
        </div>
    </div>
</body>
</html> 
